@keyframes shake {
  25% {
    margin-left: 4px;
  }

  50% {
    margin-left: -4px;
  }

  75% {
    margin-left: 4px;
  }
}

.input-shake {
  animation: shake 0.3s;
  box-shadow: 0 0 0.8rem #ff7272;
}
