/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;background-color: #F9F9FC; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card{
    border-radius:15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-body{
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0px 0px !important;
    background-color: white;
}
